@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }

  .border-gradient {
    position:relative;
  }
  .border-gradient::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:30px; 
    padding:3px; 
    border: 3px ;
    background:linear-gradient(45deg,#73E0A9,#5B68DF); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }  
.border-gradientbutton {
    position:relative;
  }
  .border-gradientbutton::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:3px; 
    padding:3px; 
    border: 3px ;
    background:linear-gradient(45deg,#73E0A9,#5B68DF); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
